!!!
%html
  %head
    %title Stagehand Test Suite
    = javascript_include_tag "lib/jquery.min", "lib/qunit", "stagehand", "suite"
    = stylesheet_link_tag "lib/qunit"
  %body
    %h1#qunit-header
    %h2#qunit-banner
    %h2#qunit-userAgent
    %ol#qunit-tests
    #qunit-fixture
      = yield
