<div data-stage='toggletown' data-scene='toggle'>
  You can toggle me on and off.
</div>

<div data-stage='hammertime, hammerpants' data-scene='all'>
  I'm visible for all scenes of 'hammertime' and 'hammerpants'.
</div>

<div data-stage='hammertime' data-scene='stop, collaborate, listen'>
  <span data-stage='hammertime' data-scene='stop' data-scene-class='highlighted'>
    Stop
  </span>
  <span data-stage='hammertime' data-scene='collaborate' data-scene-class='highlighted'>
    Collaborate
  </span>
  and
  <span data-stage='hammertime' data-scene='listen' data-scene-class='highlighted'>
    Listen
  </span>
</div>

<div data-stage='hammerpants' data-scene='sparkly'>
  I'm scene 'sparkly' of 'hammerpants'.
</div>
