---
layout: application
---

- content_for :head do
  = javascript_include_tag 'examples'

%h2
  Example #{example}:
  - case example
    - when 1
      Basic stage and scene interaction
    - when 2
      Naming stages and scenes
    - when 3
      Toggling classes and IDs instead of visibility
    - when 4
      Sharing scenes, sharing stages, nesting, and the 'all' keyword

%h3 Example output

- @code = partial "/examples/example_#{example}"

.example_output= @code

%h3 Source code

- code('html') do @code.force_encoding(Encoding::UTF_8) end