@charset "UTF-8";
ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0;
}

a img, :link img, :visited img, fieldset {
  border: none;
}

address {
  font-style: normal;
}

header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block;
}

mark {
  color: inherit;
  background: transparent;
}

abbr {
  border: none;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  background: #252525;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: white;
}

body > header {
  text-align: center;
  padding: 40px;
}
@media screen and (max-width: 600px) {
  body > header {
    padding: 20px;
  }
}
body > header h1 {
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px 0 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 40px 0;
}
body > header h1:before {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: white url("http://camerond.github.io/stagehand/images/stagehand_icon_lg.png") 50% 49% no-repeat;
  background-size: 40px 44px;
  margin: 0 auto 20px auto;
  content: "";
}
@media screen and (max-width: 600px) {
  body > header h1 {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  body > header h1:before {
    width: 120px;
    height: 120px;
  }
}
body > header nav ul {
  display: inline-block;
}
body > header nav ul li {
  display: inline-block;
  padding: 0 10px;
  color: #666666;
}
body > header nav ul li ul {
  margin-left: 10px;
}
body > header nav ul li ul li {
  padding: 0 5px;
}
body > header nav ul li a {
  color: white;
  display: inline-block;
  padding: 5px 15px;
  border-bottom: 2px solid #444444;
  -moz-transition: border-color 100ms;
  -webkit-transition: border-color 100ms;
  -o-transition: border-color 100ms;
}
body > header nav ul li.active a,
body > header nav ul li a:hover {
  border-bottom-color: white;
}
@media screen and (max-width: 600px) {
  body > header nav > ul > li {
    display: block;
    padding: 0;
  }
  body > header nav > ul > li + li {
    padding-top: 20px;
  }
}

main {
  max-width: 900px;
  padding: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  main {
    padding: 10px 20px;
  }
}
main h2, main h3, main h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin: 0 0 40px 0;
  line-height: 120%;
}
@media screen and (max-width: 600px) {
  main h2, main h3, main h4 {
    margin: 0 0 20px 0;
  }
}
main h2 {
  font-size: 30px;
  border-bottom: 2px solid #444444;
  padding: 20px 10px;
  margin: 0 -10px 40px -10px;
}
@media screen and (max-width: 600px) {
  main h2 {
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
}
main h3 {
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  main h3 {
    font-size: 20px;
  }
}
main h3 small {
  color: #aaaaaa;
  font-size: 18px;
  line-height: 24px;
  margin-left: 5px;
}
main p {
  margin: 0 0 30px 0;
  line-height: 140%;
  color: #aaaaaa;
}
@media screen and (max-width: 600px) {
  main p {
    margin: 0 0 20px 0;
  }
}
main p a {
  -moz-transition: color 100ms;
  -webkit-transition: color 100ms;
  -o-transition: color 100ms;
}
main p a:hover {
  color: #63fffd;
}
main code {
  display: inline-block;
  color: white;
  margin: 0 2px;
  background: #333333;
  padding: 0 3px;
}
main pre {
  margin: 0 20px 40px 20px;
  background: white;
  overflow: auto;
  max-width: 100%;
  padding: 30px;
  color: #333333;
  line-height: 140%;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  main pre {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 13px;
  }
}
main pre + p a {
  margin-right: 20px;
  display: block;
  float: right;
  margin-top: -40px;
  text-align: right;
  padding: 5px 0 0 0;
  font-size: 12px;
  line-height: 12px;
}
@media screen and (max-width: 600px) {
  main pre + p a {
    margin-right: 0;
  }
}
main pre + p a:after {
  content: "→";
  margin: 0 0 0 5px;
  color: #666666;
  -moz-transition: color 100ms;
  -webkit-transition: color 100ms;
  -o-transition: color 100ms;
  font-size: 16px;
}
main pre + p a:hover {
  color: white;
}
main pre + p a:hover:after {
  color: white;
}

.example_output {
  padding: 40px 40px 20px 40px;
  margin: 0 0 5px 0;
  background: rgba(255, 255, 255, 0.05);
  line-height: 140%;
}
@media screen and (max-width: 600px) {
  .example_output {
    padding: 20px 20px 1px 20px;
    margin: 0 0 20px 0;
  }
}
.example_output div {
  padding: 5px 10px;
  margin: 0 0 20px 0;
  background: rgba(255, 255, 255, 0.05);
}
.example_output div#ugly {
  background: #944229;
}
.example_output .highlighted {
  color: #63fffd;
}
.example_output + p {
  text-align: right;
  font-size: 14px;
  margin: 0 0 40px 0;
}
@media screen and (max-width: 600px) {
  .example_output + p {
    margin-bottom: 20px;
  }
}

.example_code pre {
  margin: 0 0 40px 0;
}
@media screen and (max-width: 600px) {
  .example_code {
    padding: 0 0 20px 0;
  }
}

footer {
  text-align: center;
  padding: 40px 0;
  font-size: 12px;
  background: url("http://camerondaigle.com/images/logo_footer.png") top center no-repeat;
  background-size: 30px auto;
  color: #999999;
}
footer a {
  color: white;
}
