!!!
%html
  %head
    %title Stagehand Test Suite
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    %script(type="text/javascript" src="/lib/qunit.js")
    %script(type="text/javascript" src="/javascripts/stagehand.js")
    %script(type="text/javascript" src="/javascripts/examples.js")
    %link(rel="stylesheet" href="/lib/qunit.css" type="text/css")
  %body
    %main
      %h1 Stagehand Examples
    .siblings
      %h2(data-scene) This is one state
      %h2(data-scene) This is another state
