!!!
%html
  %head
    %title Stagehand
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    %script(type="text/javascript" src="/javascripts/stagehand.js")
    %script(type="text/javascript" src="/javascripts/examples.js")
    %link(rel="stylesheet" href="/stylesheets/stagehand.css" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/application.css" type="text/css")
  %body
    %main
      %h1 Stagehand
      %p(data-stage) Stage 1 scene 1
      %p(data-stage) Stage 1 scene 2
      %p(data-stage) Stage 1 scene 3
      %p(data-stage) Stage 1 scene 4
      %p.actor_2(data-stage='my cool stage' data-scene='foo') Something for foo
      %p.actor_3(data-stage='my cool stage' data-scene='bar') Something for bar
      %p.actor_4(data-stage='my cool stage' data-scene='foo, bar') Something for foo and bar