!!!
%html
  %head
    %title Stagehand
    %script(type="text/javascript" src="/javascripts/jquery.min.js")
    %script(type="text/javascript" src="/javascripts/stagehand.js")
    %script(type="text/javascript" src="/javascripts/examples.js")
    %link(rel="stylesheet" href="/stylesheets/stagehand.css" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/application.css" type="text/css")
    %meta(content='width=device-width, initial-scale=1' name='viewport')
  %body
    %main
      %h1 Stagehand
      %p(data-stage) Stage 1 scene 1
      %p(data-stage) Stage 1 scene 2
      %p(data-stage) Stage 1 scene 3
      %p(data-stage) Stage 1 scene 4
      %p(data-stage='my cool stage' data-scene='foo') Something for foo
      %p(data-stage='my cool stage' data-scene='bar') Something for bar
      %p(data-stage='my cool stage' data-scene='foo, bar') Something for foo and bar